{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        <meta name="description" content="{% block description %}CoDev 4E Limited is a forward thinking and an innovative Company, whose core area of operation include land access, resettlement, livelihoods, grievance management, community development and stakeholder engagement. The firm is dedicated to helping purpose driven Companies plan and implement resettlement and community related development programmes geared towards creating positive change and yielding a win-win situation for project proponents and affected communities.{% endblock %}" href="{{ request.path }}">
        <meta>
        {% if metaAuther %}
            <meta name="auther" content="{{ metaAuther }}">
        {% endif %}
        <meta property="og:url" content="{{ request.path }}">

        {% block meta %}
            <meta property="og:title" content="{{ title }}">

        {% endblock %}
        <title>{% if title %}{{ title }} &bullet; {% endif %} CoDev 4E Ltd</title>
        <link rel="shortcut icon" href="{% static 'icons/favico.ico.jpg' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'bulma-0.9.4/bulma/css/bulma.min.css' %}">
        {% block header %}

        {% endblock %}
        <style>
            * {
                font-family: 'cambo', 'Poppins' ,'sans-serif';
            }
            body {
                background-image: url({% static 'icons/fadedLogo.jpg' %});
                background-size: contain;
                background-position: center;
                background-attachment: scroll;
                min-height: 20vh;
            }
        </style>
    {% block head %}{% endblock %}
    </head>
    <body class="has-navbar-fixed-top">
        {% include 'base/navbar/base.html' %}
        {% block container %}{% endblock %}



        {% include 'base/floatSocial.html' %}
        {% include 'base/footer.html' %}
        {% block scripts %}{% endblock %}
    </body>

</html>
