{% load static %}
  <footer class="footer  has-background-success-light ">
      <div class="content has-text-centered">
          <p>
              <span>P. O. Box LG 944, Legon, Accra, Ghana</span>
              &bullet;
              <span class="">4 Ho Avenue Edlorm Estate, Greater Accra, Ghana</span>
                &bullet;
              <span>GM 240-7502</span>
          </p>
          <p>EMAIL:
              <a href="mailto:{{ 'CODEV4E@GMAlL.COM'|lower }}" > {{ 'CODEV4E@GMAiL.COM'|lower }}</a> <span>|</span>
              <a href="mailto:EVELYNGHAS@GMAIL.COM" class="">{{ 'EVELYNGHAS@GMAIL.COM'|lower }}</a>

          <p>PHONE:<a href="tel:+233509055110" > (+233) 509-055-110</a></p>
          <p>PHONE:<a href="tel:+233242545952" > (+233) 242-545-952</a></p>
      </div>
  </footer>
