{% load static %}
  <footer class="footer  has-background-success-light ">
      <div class="content has-text-centered">
          <p>
              <span>P. O. Box LG 944, Legon, Accra, Ghana</span>
              &bullet;
              <span class="">4 Ho Avenue Edlorm Estate, Greater Accra, Ghana</span>
                &bullet;
              <span>GM 240-7502</span>
          </p>
          <p>EMAIL:
              <a href="mailto:CODEV4E@GMAlL.COM:" > CODEV4E@GMAlL.COM</a>
              <a href="mailto:EVELYNGHAS@GMAIL.COM" class="">EVELYNGHAS@GMAIL.COM</a>

          <p><a href="tel:+233509-0551" >TELL: (+233) 509-0551</a></p>
      </div>
  </footer>
