{% extends 'base/base.html' %}
{% load static %}

{% block container %}

     <section class="hero is-success is-half"
             style="
                 background-image: url('{% static 'images/benjamin-child-0sT9YhNgSEs-unsplash.jpg' %}');
                 background-position: center; background-size:cover ;
                 ">
      <div class="hero-body">
        <div class="column is-half mx-auto is-rounded p-3 " style=" background: rgba(30,31,34,0.4);">
            <h1 class="title is-size-1 has-text-weight-bold has-text-centered">{{ 'our LOCATION'|upper }}</h1>
        </div>
      </div>
    </section>

{% endblock %}
