{% extends 'base/base.html' %}
{% load static %}
{% block description %}
    CoDev 4E Limited is a forward thinking and an innovative Company, whose core area of operation
    include land access, resettlement, livelihoods, grievance management, community development and stakeholder engagement.
    The firm is dedicated to helping purpose driven Companies plan and implement resettlement and community related
    development programmes geared towards creating positive change and yielding a win-win situation for project proponents
    and affected communities.
{% endblock %}

{% block meta %}
    <meta property="og:title" content="About CoDev 4E Limited ">
    <meta property="og:description" content="CoDev 4E Limited is a forward thinking and an innovative Company, whose core area of operation
                            include land access, resettlement, livelihoods, grievance management, community development and stakeholder engagement.
                            The firm is dedicated to helping purpose driven Companies plan and implement resettlement and community related
                            development programmes geared towards creating positive change and yielding a win-win situation for project proponents
                            and affected communities. ">
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_GB" />
{% endblock %}
{% block container %}

     <section class="hero is-success is-half"
             style="
                 background-image: url('{% static 'images/benjamin-child-0sT9YhNgSEs-unsplash.jpg' %}');
                 background-position: center; background-size:cover ;
                 ">
      <div class="hero-body">
        <div class="column is-half mx-auto is-rounded p-3 " style=" background: rgba(30,31,34,0.4);">
            <h1 class="title is-size-1 has-text-weight-bold has-text-centered">WHO WE ARE</h1>
        </div>
      </div>
    </section>


    <div class="container my-5">
        <div class="columns">
            <div class="column">
                <div class="content">
                   <div class="box has-background-success-light">
                        <h3 class="has-text-success-dark">About CoDev 4E Limited </h3>
{#                    TODO Write about the core values of the organisatoin #}
                        <p>
                            CoDev 4E Limited is a forward thinking and an innovative Company, whose core area of operation
                            include land access, resettlement, livelihoods, grievance management, community development and stakeholder engagement.
                            The firm is dedicated to helping purpose driven Companies plan and implement resettlement and community related
                            development programmes geared towards creating positive change and yielding a win-win situation for project proponents
                            and affected communities.  </p>

                            <p>The firm comprises of a team of experts with over 25 years in-depth knowledge and hands-on
                                experience in planning and implementing resettlement, livelihoods, community engagement and
                                community development programmes.</p>

                   </div>

                   <div class="box has-background-success-light">
                        <h3 class="has-text-success-dark">Core Values</h3>
                        <p>CoDev 4E is guided by the following core values that guide our internal and external relations;</p>
                        <ul>
                            <li>Effectiveness </li>
                            <li>Efficiency</li>
                            <li>Empowerment</li>
                            <li>Enhancement</li>
                        </ul>
                   </div>

                    <div class="box has-background-success-light">
                        <h3 class="has-text-success-dark">Our Mission </h3>
                        <p>To organize resettlement and related activities on a sustainable basis to the satisfaction of the communities and project proponent.</p>
                    </div>


                   <div class="box  has-background-success-light">
                        <h3 class="has-text-success-dark">Our Vision </h3>
                        <p>To ensure a win-win situation for project proponents and host communities.</p>

                   </div>

                    <div class="box has-background-success-light">
                        <h3 class="has-text-success-dark">Our Aims and Aspirations </h3>
                        <ul>
                            <li>To effectively provide top-notch resettlement and community development and any other related services acceptable to our clients</li>
                            <li>To empower communities to realize their dreams and aspirations</li>
                            <li>To create enabling environment for communities to freely and fully participate in development programmes</li>
                            <li>To efficiently use the resources available to achieve the desired results with integrity</li>
                            <li>To improve upon what we do step-by-step</li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}