{% extends 'base/base.html' %}
{% load static %}
{% block container %}

     <section class="hero is-success is-half"
             style="
                 background-image: url('{% static 'images/benjamin-child-0sT9YhNgSEs-unsplash.jpg' %}');
                 background-position: center; background-size:cover ;
                 ">
      <div class="hero-body">
        <div class="column is-half mx-auto is-rounded p-3 " style=" background: rgba(30,31,34,0.4);">
            <h1 class="title is-size-1 has-text-weight-bold has-text-centered">{{ title|upper }}</h1>
        </div>
      </div>
    </section>

    <div class="container">
        <div class="columns my-6 is-multiline">
            {% for faq in faqs_list %}
                <div class="column is-three-fifths-tablet mx-auto is-half-desktop">
                    <div class="card">
                      <header class="card-header has-background-success-light">
                        <p class="card-header-title">
                          {{ faq.question }}
                        </p>
                          <strong class="card-header-icon">{{ forloop.counter }}</strong>

                      </header>
                      <div class="card-content">
                        <div class="content">
                          {{ faq.answer|safe }}
                        </div>
                      </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}
